<!DOCTYPE html>
  <html>
    <head>
      <title> RaspyMusic ~ Play your music~ </title>
      <link rel="stylesheet" href='main.css'/>
    </head>
    <body>
      <h1> RaspyMusic Playlist </h1>
      <form action="/raspyMusic.py">
        <fieldset>
          <legend> Submit Song to Play </legend>
          Song Title: <br>
          <input type="text" name="Title"></br>
          URL: <br>
          <input type="url" name="SongUrl"></br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </body>
  </html>
